.main-content {
    margin-left: 20px;
}

.main-content__header {
    display: flex;
    overflow: hidden;
}

.main-content__item {
    width: 251px;
    height: 50px;
    background: #FFFFFF;
    box-sizing: border-box;
    border: 1px solid #DFE5EC;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #4A4A4A;
    cursor: pointer;
}

.main-content__item_active {
    border: none;
    background: #2196F3;
    color: #FFFFFF;
}