* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.App {
  background: #F3F7FA;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}
.main {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
